<mat-card class="mat-card-element">
  <mat-card-header>
    <mat-card-title>Creating new project</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form-container">

      <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="input-field">
          <mat-label>First name</mat-label>
          <textarea matInput type="text" formControlName="firstName"></textarea>
          <mat-error *ngIf="formGroup.controls.firstName.touched && formGroup.controls.firstName.invalid">
            <span *ngIf="formGroup.controls.firstName?.errors?.required">
              First name field is required.
            </span>
            <span *ngIf="formGroup.controls.firstName.value.length > constants.MAX_NAME_LENGTH">
              Max first name length {{constants.MAX_NAME_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.firstName.value.length < constants.MIN_NAME_LENGTH">
              Min first name length {{constants.MIN_NAME_LENGTH}}.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Last name</mat-label>
          <textarea matInput type="text" formControlName="lastName"></textarea>
          <mat-error *ngIf="formGroup.controls.lastName.touched && formGroup.controls.lastName.invalid">
            <span *ngIf="formGroup.controls.lastName?.errors?.required">
              First name field is required.
            </span>
              <span *ngIf="formGroup.controls.lastName.value.length > constants.MAX_NAME_LENGTH">
              Max last name length {{constants.MAX_NAME_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.lastName.value.length < constants.MIN_NAME_LENGTH">
              Min last name length {{constants.MIN_NAME_LENGTH}}.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <textarea matInput type="text" formControlName="email"></textarea>
          <mat-error *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid">
            <span *ngIf="formGroup.controls.email?.errors?.required">
              Email field is required.
            </span>
              <span *ngIf="formGroup.controls.email.value.length > constants.MAX_EMAIL_LENGTH">
              Max email length{{constants.MAX_EMAIL_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.email.value.length < constants.MIN_EMAIL_LENGTH">
              Min email length {{constants.MIN_EMAIL_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.email?.errors?.email">
              Invalid email.
            </span>
          </mat-error>
        </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Team ID</mat-label>
            <input matInput type="number" formControlName="teamId" min="1">
            <mat-error *ngIf="formGroup.controls.teamId.touched && formGroup.controls.teamId.invalid">
              <span *ngIf="formGroup.controls.teamId?.errors?.required">
                Team ID is required.
              </span>
              <span *ngIf="formGroup.controls.teamId.value < 1">
                Min value is 1.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>BirthDay</mat-label>
            <input matInput [matDatepicker]="deadlinePicker" formControlName="birthDay">
            <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
            <mat-datepicker #deadlinePicker></mat-datepicker>
            <mat-error *ngIf="formGroup.controls.birthDay.touched && formGroup.controls.birthDay.invalid">
              <span *ngIf="formGroup.controls.birthDay?.errors?.required">BirthDay field is required. </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Created At</mat-label>
            <input matInput readonly formControlName="createdAt">
          </mat-form-field>

          <mat-card-actions align="end">
            <button mat-stroked-button color="warn" (click)="onCancelCreating.emit()">Cancel</button>
            <button mat-stroked-button type="submit" [disabled]="!formGroup.valid">Create</button>
          </mat-card-actions>
      </form>
    </div>
  </mat-card-content>

</mat-card>

