<mat-card class="mat-card-element">
  <mat-card-header>
    <mat-card-title>
      <div class="task-state" app-task-state [state]="task.state"></div>
      Task #{{task.id}} | {{task.name}}
    </mat-card-title>
  </mat-card-header>

  <app-update-task
    class="create-form"
    *ngIf="isUpdating; else content"
    [task]="task"
    (onCancelUpdate)="isUpdating=false"
    (onTaskUpdated)="updateTask($event)"
  >
  </app-update-task>

  <ng-template #content>
    <mat-card-content>
      <div class="property">
        <div class="name">Description: </div>
        <div class="value">{{task.description}}</div>
      </div>

      <div class="property">
        <div class="name">State: </div>
        <div class="value">{{task.state}}</div>
      </div>

      <div class="property">
        <div class="name">Performer ID: </div>
        <div class="value">{{task.performerId}}</div>
      </div>

      <div class="property">
        <div class="name">Project ID: </div>
        <div class="value">{{task.projectId}}</div>
      </div>

      <div class="property" *ngIf="task.state == 2">
        <div class="name">Finished at: </div>
        <div class="value">{{task.finishedAt | ukrainianDate}}</div>
      </div>

      <div class="property">
        <div class="name">Created at: </div>
        <div class="value">{{task.createdAt | ukrainianDate }}</div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-icon-button color="primary" (click)="isUpdating = true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>

  </ng-template>
</mat-card>
