@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.content-container {
  position: relative;
  .button-container{
    text-align: center;
    .create-button{
      height: 50px;
      font-family: 'Poppins', sans-serif;
      display: inline-block;
    }
  }

}

.form-container{
  margin: 30px auto;
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  .input-field {
    display: block;
  }
}

.mat-card-element{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(203, 201, 201, 0.23);
  border: 1px solid #ECB63A;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.mat-spinner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  .mat-spinner {
    position: fixed;
    top: 50%;
  }
}

.mat-snack-bar-container {
  &.error-snack-bar {
    background: #e81919;
    text-align: center
  }
  &.usual-snack-bar {
    text-align: center;
  }
  &.success-snack-bar {
    background: rgba(15, 144, 49, 0.91);
    text-align: center;
  }
  span{
    width: 100%;
  }
}

.mat-card-content{
  margin: 0 15px;
  .property {
    display: flex;
    margin-bottom: 5px;
    .name{
      margin-right: 5px;
    }
  }

}

