<div class="form-container">

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field class="input-field">
      <mat-label>Id</mat-label>
      <textarea matInput readonly type="text" formControlName="id"></textarea>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>First name</mat-label>
      <textarea matInput type="text" formControlName="firstName"></textarea>
      <mat-error *ngIf="formGroup.controls.firstName.touched && formGroup.controls.firstName.invalid">
        <span *ngIf="formGroup.controls.firstName?.errors?.required">
          First name field is required.
        </span>
        <span *ngIf="formGroup.controls.firstName.value.length > constants.MAX_NAME_LENGTH">
          Max first name length {{constants.MAX_NAME_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.firstName.value.length < constants.MIN_NAME_LENGTH">
          Min first name length {{constants.MIN_NAME_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Last name</mat-label>
      <textarea matInput type="text" formControlName="lastName"></textarea>
      <mat-error *ngIf="formGroup.controls.lastName.touched && formGroup.controls.lastName.invalid">
        <span *ngIf="formGroup.controls.lastName?.errors?.required">
          First name field is required.
        </span>
        <span *ngIf="formGroup.controls.lastName.value.length > constants.MAX_NAME_LENGTH">
          Max last name length {{constants.MAX_NAME_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.lastName.value.length < constants.MIN_NAME_LENGTH">
          Min last name length {{constants.MIN_NAME_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <textarea matInput type="text" formControlName="email"></textarea>
      <mat-error *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid">
        <span *ngIf="formGroup.controls.email?.errors?.required">
          Email field is required.
        </span>
        <span *ngIf="formGroup.controls.email.value.length > constants.MAX_EMAIL_LENGTH">
          Max email length{{constants.MAX_EMAIL_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.email.value.length < constants.MIN_EMAIL_LENGTH">
          Min email length {{constants.MIN_EMAIL_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.email?.errors?.email">
          Invalid email.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="onCancelUpdate.emit()">Cancel</button>
      <button mat-stroked-button  type="submit" [disabled]="!formGroup.valid">Update</button>
    </mat-card-actions>

  </form>
</div>

