<mat-card class="mat-card-element">

  <mat-card-header>
    <mat-card-title>Creating new task</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form-container">
      <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="input-field">
          <mat-label>Name</mat-label>
          <textarea matInput type="text" formControlName="name"></textarea>
          <mat-error *ngIf="formGroup.controls.name.touched && formGroup.controls.name.invalid">
            <span *ngIf="formGroup.controls.name?.errors?.required">
              Name field is required.
            </span>
            <span *ngIf="formGroup.controls.name.value.length > constants.MAX_TASK_NAME_LENGTH">
              Max name length {{constants.MAX_TASK_NAME_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.name.value.length < constants.MIN_TASK_NAME_LENGTH">
              Min name length {{constants.MIN_TASK_NAME_LENGTH}}.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" formControlName="description" rows="4"></textarea>
          <mat-error *ngIf="formGroup.controls.description.touched && formGroup.controls.description.invalid">
            <span *ngIf="formGroup.controls.description?.errors?.required">
              Description field is required.
            </span>
            <span *ngIf="formGroup.controls.description.value.length > constants.MAX_TASK_DESCRIPTION_LENGTH">
              Max description length is {{constants.MAX_TASK_DESCRIPTION_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.description.value.length < constants.MIN_TASK_DESCRIPTION_LENGTH">
              Min description length is {{constants.MIN_TASK_DESCRIPTION_LENGTH}}.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Performer ID</mat-label>
          <input matInput type="number" formControlName="performerId" min="1">
          <mat-error *ngIf="formGroup.controls.performerId.touched && formGroup.controls.performerId.invalid">
            <span *ngIf="formGroup.controls.performerId?.errors?.required">
              Performer ID is required.
            </span>
            <span *ngIf="formGroup.controls.performerId.value < 1">
              Min value is 1.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Project ID</mat-label>
          <input matInput type="number" formControlName="projectId" min="1">
          <mat-error *ngIf="formGroup.controls.projectId.touched && formGroup.controls.projectId.invalid">
            <span *ngIf="formGroup.controls.projectId?.errors?.required">
               Project ID is required.
            </span>
            <span *ngIf="formGroup.controls.projectId.value < 1">
              Min value is 1.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Created At</mat-label>
          <input matInput readonly formControlName="createdAt">
        </mat-form-field>

        <mat-card-actions align="end">
          <button mat-stroked-button color="warn" (click)="onCancelCreating.emit()">Cancel</button>
          <button mat-stroked-button type="submit" [disabled]="!formGroup.valid">Create</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>

</mat-card>
