<mat-card class="mat-card-element">
  <mat-card-header>
    <mat-card-title>Project #{{project.id}} | {{project.name}}</mat-card-title>
  </mat-card-header>

  <app-update-project class="create-form"
    *ngIf="isUpdating; else content"
    [project]="project"
    (onCancelUpdate)="isUpdating=false"
    (onProjectUpdated)="updateProject($event)">
  </app-update-project>

  <ng-template #content>
  <mat-card-content>
    <div class="property">
      <div class="name">Description: </div>
      <div class="value">{{project.description}}</div>
    </div>
    <div class="property">
      <div class="name">Author ID: </div>
      <div class="value">{{project.authorId}}</div>
    </div>
    <div class="property">
      <div class="name">Team ID: </div>
      <div class="value">{{project.teamId}}</div>
    </div>
    <div class="property">
      <div class="name">Deadline: </div>
      <div class="value">{{project.deadline | ukrainianDate}}</div>
    </div>
    <div class="property">
      <div class="name">Created at: </div>
      <div class="value">{{project.createdAt | ukrainianDate }}</div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button color="primary" (click)="isUpdating = true">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteProject()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>

  </ng-template>
</mat-card>
