<mat-card class="mat-card-element">

  <mat-card-header>
    <mat-card-title>User #{{user.id}} | {{user.firstName}} {{user.lastName}}</mat-card-title>
  </mat-card-header>

  <app-update-user class="create-form"
                      *ngIf="isUpdating; else content"
                      [user]="user"
                      (onCancelUpdate)="isUpdating=false"
                      (onUserUpdated)="updateUser($event)">
  </app-update-user>

  <ng-template #content>
    <mat-card-content>
      <div class="property">
        <div class="name">Email: </div>
        <div class="value">{{user.email}}</div>
      </div>
      <div class="property">
        <div class="name">Team ID: </div>
        <div class="value">{{user.teamId}}</div>
      </div>
      <div class="property">
        <div class="name">Birthday: </div>
        <div class="value">{{user.birthDay}}</div>
      </div>
      <div class="property">
        <div class="name">Created at: </div>
        <div class="value">{{user.createdAt | ukrainianDate }}</div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-icon-button color="primary" (click)="isUpdating = true">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUser()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>

  </ng-template>
</mat-card>
