<div class="form-container">

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field class="input-field">
      <mat-label>Id</mat-label>
      <textarea matInput readonly type="text" formControlName="id"></textarea>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <textarea matInput type="text" formControlName="name"></textarea>
      <mat-error *ngIf="formGroup.controls.name.touched && formGroup.controls.name.invalid">
        <span *ngIf="formGroup.controls.name?.errors?.required">
          Name field is required.
        </span>
        <span *ngIf="formGroup.controls.name.value.length < constants.MIN_PROJECT_NAME_LENGTH">
          Min name length {{constants.MIN_PROJECT_NAME_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.name.value.length > constants.MAX_PROJECT_NAME_LENGTH">
          Max name length {{constants.MAX_PROJECT_NAME_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description" rows="4"></textarea>
      <mat-error *ngIf="formGroup.controls.description.touched && formGroup.controls.description.invalid">
        <span *ngIf="formGroup.controls.description?.errors?.required">
          Description field is required.
        </span>
        <span *ngIf="formGroup.controls.description.value.length < constants.MIN_PROJECT_DESCRIPTION_LENGTH">
          Min description length is {{constants.MIN_PROJECT_DESCRIPTION_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.description.value.length > constants.MAX_PROJECT_DESCRIPTION_LENGTH">
          Max description length is {{constants.MAX_PROJECT_DESCRIPTION_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Team ID</mat-label>
      <input matInput type="number" formControlName="teamId" min="1">
      <mat-error *ngIf="formGroup.controls.teamId.touched && formGroup.controls.teamId.invalid">
        <span *ngIf="formGroup.controls.teamId?.errors?.required">
          Team Id id required.
        </span>
        <span *ngIf="formGroup.controls.teamId.value < 1">
          Min value is 1.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="deadlinePicker" formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
      <mat-error *ngIf="formGroup.controls.deadline.touched && formGroup.controls.deadline.invalid">
        <span *ngIf="formGroup.controls.deadline?.errors?.required">
          Deadline field is required.
        </span>
        <span>
          Incorrect date format.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="onCancelUpdate.emit()">Cancel</button>
      <button mat-stroked-button  type="submit" [disabled]="!formGroup.valid">Update</button>
    </mat-card-actions>
  </form>
</div>
