<mat-card class="mat-card-element">

  <mat-card-header>
    <mat-card-title>Creating new project</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="form-container">

      <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="input-field">
          <mat-label>Name</mat-label>
          <textarea matInput type="text" formControlName="name"></textarea>
          <mat-error *ngIf="formGroup.controls.name.touched && formGroup.controls.name.invalid">
            <span *ngIf="formGroup.controls.name?.errors?.required">
              Name field is required.
            </span>
            <span *ngIf="formGroup.controls.name.value.length > constants.MAX_NAME_LENGTH">
              Max name length {{constants.MAX_NAME_LENGTH}}.
            </span>
            <span *ngIf="formGroup.controls.name.value.length < constants.MIN_NAME_LENGTH">
              Min name length {{constants.MIN_NAME_LENGTH}}.
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Created At</mat-label>
          <input matInput readonly formControlName="createdAt">
        </mat-form-field>

        <mat-card-actions align="end">
          <button mat-stroked-button color="warn" (click)="onCancelCreating.emit()">Cancel</button>
          <button mat-stroked-button type="submit" [disabled]="!formGroup.valid">Create</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>
