<div class="form-container">

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field class="input-field">
      <mat-label>Id</mat-label>
      <textarea matInput readonly type="text" formControlName="id"></textarea>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <textarea matInput type="text" formControlName="name"></textarea>
      <mat-error *ngIf="formGroup.controls.name.touched && formGroup.controls.name.invalid">
        <span *ngIf="formGroup.controls.name?.errors?.required">
          Name field is required.
        </span>
        <span *ngIf="formGroup.controls.name.value.length > constants.MAX_TASK_NAME_LENGTH">
          Max name length {{constants.MAX_TASK_NAME_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.name.value.length < constants.MIN_TASK_NAME_LENGTH">
          Min name length {{constants.MIN_TASK_NAME_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description" rows="4"></textarea>
      <mat-error *ngIf="formGroup.controls.description.touched && formGroup.controls.description.invalid">
        <span *ngIf="formGroup.controls.description?.errors?.required">
          Description field is required.
        </span>
        <span *ngIf="formGroup.controls.description.value.length > constants.MAX_TASK_DESCRIPTION_LENGTH">
          Max description length is {{constants.MAX_TASK_DESCRIPTION_LENGTH}}.
        </span>
        <span *ngIf="formGroup.controls.description.value.length < constants.MIN_TASK_DESCRIPTION_LENGTH">
          Min description length is {{constants.MIN_TASK_DESCRIPTION_LENGTH}}.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        <mat-option *ngFor="let state of enumKeys" [value]="state" >
          {{states[state]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="onCancelUpdate.emit()">Cancel</button>
      <button mat-stroked-button type="submit" [disabled]="!formGroup.valid">Update</button>
    </mat-card-actions>

  </form>
</div>

