<div class="content-container">
  <div class="button-container">
    <button mat-stroked-button color="primary" class="create-button" (click)="creatingNewUser = !creatingNewUser">
      Would you like to add new user?
    </button>
  </div>
  <app-create-user
    *ngIf="creatingNewUser"
    (onCancelCreating)="creatingNewUser=false"
    (onUserCreated)="addNewUser($event)"
  >

  </app-create-user>

  <div *ngIf="isLoading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngFor="let user of users">
    <app-user
      [user]="user"
      (onUserDelete)="deleteUser($event)"
    ></app-user>
  </div>
</div>

