<mat-toolbar>
  <div class="header">
    <mat-card-title class="logo">Angular Project</mat-card-title>
    <div class="menu">
      <div [routerLink]="['/projects']">Projects</div>
      <div [routerLink]="['/tasks']">Tasks</div>
      <div [routerLink]="['/teams']">Teams</div>
      <div [routerLink]="['/users']">Users</div>
    </div>
  </div>
</mat-toolbar>
<div class="space-between"></div>
<main>
  <router-outlet></router-outlet>
</main>
