mat-toolbar {
  height: 60px;
  position: fixed;
  display: flex;
  z-index: 1;
  background-color: #ECB63A;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 3px 8px 0 rgba(114, 117, 125, 0.6);
}

main {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-weight: 580;
}

.menu {
  display: flex;
  flex-direction: row;
  div {
    margin-right: 25px;
    cursor: pointer;
    &:hover {
      transition: 200ms all ease-in-out;
      color: #545757;
    }
    transition: 200ms all ease-in-out;
  }
}

.space-between {
  height: 75px;
}

@media (max-width: 900px){
  .logo{
    display: none;
  }
}

